/*-- scss:defaults --*/
/* Brill Local */
@font-face{font-family:'Brill';src:local('Brill'),url('style/fonts/Brill/Brill-Roman.woff2')format('woff2');font-style:normal;font-display:swap;}
/* Brill Local */
@font-face{font-family:'Brill';src:local('Brill Bold'),url('style/fonts/Brill/Brill-Bold.woff2')format('woff2');font-style:normal;font-display:swap;font-weight:bold;}
/* Brill Local */
@font-face{font-family:'Brill';src:local('Brill Italic'),url('style/fonts/Brill/Brill-Italic.woff2')format('woff2');font-style:italic;font-weight:normal;font-display:swap;}
/* Brill Local */
@font-face{font-family:'Brill';src:local('Brill Bold Italic'),url('style/fonts/Brill/Brill-BoldItalic.woff2')format('woff2');font-style:italic;font-display:swap;font-weight:bold;}

