/*-- scss:defaults --*/
/* Brill Local */
@font-face{font-family:'Brill_Bold';src:local('Brill Bold'),url('style/fonts/Brill/Brill-Bold.woff2')format('woff2');font-style:normal;font-display:swap;font-weight:normal;}
@font-face{font-family:'Brill_Bold';src:local('Brill Bold Italic'),url('style/fonts/Brill/Brill-BoldItalic.woff2')format('woff2');font-style:italic;font-display:swap;font-weight:normal;}

