/*-- scss:rules --*/

@font-face {
    font-family: 'MLMMono12';
    src: url('fonts/webmlm/MLMMono12-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMMono10';
    src: url('fonts/webmlm/MLMMono10-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMMono10';
    src: url('fonts/webmlm/MLMMono10-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMMono8';
    src: url('fonts/webmlm/MLMMono8-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMMono9';
    src: url('fonts/webmlm/MLMMono9-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMMonoCaps10';
    src: url('fonts/webmlm/MLMMonoCaps10-Oblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMMonoCaps10';
    src: url('fonts/webmlm/MLMMonoCaps10-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRomanCaps10';
    src: url('fonts/webmlm/MLMRomanCaps10-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRomanCaps10';
    src: url('fonts/webmlm/MLMRomanCaps10-Oblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

