
@font-face {
    font-family: 'MLMRoman5';
    src: url('webmlm/MLMRoman7-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman6';
    src: url('webmlm/MLMRoman7-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman7';
    src: url('webmlm/MLMRoman7-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman8';
    src: url('webmlm/MLMRoman8-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman9';
    src: url('webmlm/MLMRoman9-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*
@font-face {
    font-family: 'MLMRoman10';
    src: url('webmlm/MLMRoman10-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
*/

@font-face {
    font-family: 'MLMRoman10';
    src: url('webncm/NewCM10-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'MLMRoman12';
    src: url('webmlm/MLMRoman12-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman17';
    src: url('webmlm/MLMRoman12-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'MLMRomanUnsl10';
    src: url('webmlm/MLMRoman10-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRomanUnsl12';
    src: url('webmlm/MLMRoman12-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRomanUnsl17';
    src: url('webmlm/MLMRoman12-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

