/*-- scss:defaults --*/

@font-face {
    font-family: 'MLMRoman5';
    src: url('style/fonts/webmlm/MLMRoman5-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman6';
    src: url('style/fonts/webmlm/MLMRoman6-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman7';
    src: url('style/fonts/webmlm/MLMRoman7-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman8';
    src: url('style/fonts/webmlm/MLMRoman8-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman9';
    src: url('style/fonts/webmlm/MLMRoman9-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman10';
    src: url('style/fonts/webmlm/MLMRoman10-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman12';
    src: url('style/fonts/webmlm/MLMRoman12-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman17';
    src: url('style/fonts/webmlm/MLMRoman17-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {/* 斜體轉正版本 */
    font-family: 'MLMRomanUnsl10';
    src: url('style/fonts/webmlm/MLMRomanUnsl10-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {/* 斜體轉正版本 */
    font-family: 'MLMRomanUnsl12';
    src: url('style/fonts/webmlm/MLMRomanUnsl10-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {/* 斜體轉正版本 */
    font-family: 'MLMRomanUnsl17';
    src: url('style/fonts/webmlm/MLMRomanUnsl10-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRomanUnsl10';
    src: url('style/fonts/webmlm/MLMMonoCaps10-Oblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRomanUnsl10';
    src: url('style/fonts/webmlm/MLMMonoCaps10-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRomanUnsl12';
    src: url('style/fonts/webmlm/MLMMonoCaps10-Oblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRomanUnsl12';
    src: url('style/fonts/webmlm/MLMMonoCaps10-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
