
@font-face {
    font-family: 'MLMRoman5';
    src: url('webmlm/MLMRoman5-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman6';
    src: url('webmlm/MLMRoman6-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman7';
    src: url('webmlm/MLMRoman7-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman8';
    src: url('webmlm/MLMRoman8-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman9';
    src: url('webmlm/MLMRoman9-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'MLMRoman10';
    src: url('webmlm/MLMRoman10-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*
@font-face {
    font-family: 'MLMRoman10';
    src: url('webncm/NewCM10-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*/

@font-face {
    font-family: 'MLMRoman12';
    src: url('webmlm/MLMRoman12-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman17';
    src: url('webmlm/MLMRoman12-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* 粗斜體 */
@font-face {
    font-family: 'MLMRoman9';
    src: url('webmlm/MLMRoman10-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman10';
    src: url('webmlm/MLMRoman10-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman12';
    src: url('webmlm/MLMRoman10-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MLMRoman17';
    src: url('webmlm/MLMRoman10-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

