
@font-face {
    font-family: 'ncmr08';
    src: url('webncm/NewCM08-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ncmr08';
    src: url('webncm/NewCM08-BookItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ncmr08';
    src: url('webncm/NewCM10-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'ncmr08';
    src: url('webncm/NewCM10-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/*
@font-face {
    font-family: 'ncmr08';
    src: url('webncm/NewCMMono10-BookItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
*/

@font-face {
    font-family: 'ncmr10';
    src: url('webncm/NewCM10-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ncmr10';
    src: url('webncm/NewCM10-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ncmr10';
    src: url('webncm/NewCM10-BookItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*
@font-face {
    font-family: 'ncmr10';
    src: url('webncm/NewCM10-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
*/

@font-face {
    font-family: 'ncmr10';
    src: url('webncm/NewCMMono10-BookItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ncmmath';
    src: url('webncm/NewCMMath-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ncmmath';
    src: url('webncm/NewCMMath-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ncmmono';
    src: url('webncm/NewCMMono10-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ncmmono';
    src: url('webncm/NewCMMono10-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ncmmono';
    src: url('webncm/NewCMMono10-BookItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'ncmmonor';
    src: url('webncm/NewCMMono10-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ncmmonor';
    src: url('webncm/NewCMMono10-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


